@charset "UTF-8";
/* #244CEB #EB633B #08269E #7BEB0C #579E10 */
body{
    background-color: #08269E;
}
header > h1{
    margin: auto;
    background-color: #19B9F6;
    width: 410px;
    text-align: center;
    font-family: monospace;
    font-size: 5em;
    border: 2px solid black;
    box-shadow: 3px 2px 3px black;
    border-radius: 30px 0px;
}
header > nav{
    margin: auto;
    background-color: #19B9F6;
    width: 410px;
    border: 2px solid black;
    box-shadow: 3px 2px 3px black;
    border-radius: 0px 30px 30px 0px;
}
 a{
    padding: 0px 15px;
    color:rgb(6, 9, 12);
    text-decoration: none;
 }
 a:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #19B9F6;
 }
 #pj1{
    margin: auto;
    background-color: aliceblue;
    border: 1px solid black;
    display: grid;
    grid-template-areas: 
    "title title"
    "img txt";
 }
 h2{
    grid-area: title;
    font-family: monospace;
    font-size: 50px;
    text-align: center;
 }
 #img1{
    grid-area: img;
    width: 450px;
    height: 250px;
 }
 #txt1{
    font-family: cursive; 
    font-size: 20px; 
    grid-area: txt;
    padding: 10px 30px;
 }
 #txt1 > ul{
   font-size: 15px;
 }